.productItemsSuggest {
	box-sizing: border-box;
	padding: 0 0 14px 0;
	display: flex;
	margin-bottom: 13px;
	background-color: #fff;
	border-bottom: 1px solid #e4e4e4;
}

.productItemsSuggest .breakLine {
	display: none;
}

.productItemsSuggest .itemImg {
	max-width: 80px;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 16px;
}

.productItemsSuggest .itemImg img {
	width: 100%;
}

.productItemsSuggest .itemsDetail {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.productItemsSuggest .itemsDetail .itemInformation {
	word-wrap: break-word;
}

.productItemsSuggest .itemsDetail .itemInformation .itemName {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.01em;
	color: #282828;
	margin: 0;
}

.productItemsSuggest .itemsDetail .itemInformation .itemPrice {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
	text-transform: capitalize;
	color: #282828;
	margin-right: 8px;
	margin: 8px 8px 0 0;
}

.productItemsSuggest .itemsDetail .itemInformation .itemOldPrice {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.01em;
	text-decoration-line: line-through;
	color: #282828;
	margin-right: 8px;
}

.productItemsSuggest .itemsDetail .itemInformation .itemSalePercent {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.01em;
	color: #282828;
}

@media (max-width: 380px) {
	.productItemsSuggest .breakLine {
		display: block;
	}

	.productItemsSuggest .itemImg {
		align-items: flex-start;
	}
}