.wrapper__banner__category__products {
    display: flex;
    max-width: 1541px;
    max-height: 362px;
    justify-content: space-between;
    position: relative;
  }
  @media (max-width: 428px) {
    .wrapper__banner__category__products {
      max-height: 321px;
      border-radius: 8px;
    }
  }
  .wrapper__banner__category__products-content {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #1E24C0 63.47%, rgba(30, 36, 192, 0) 92.57%);
    width: 72%;
    z-index: 3;
  }
  @media (max-width: 1050px) {
    .wrapper__banner__category__products-content {
      width: 65%;
    }
  }
  @media (max-width: 880px) {
    .wrapper__banner__category__products-content {
      width: 60%;
    }
  }
  @media (max-width: 428px) {
    .wrapper__banner__category__products-content {
      border-radius: 8px;
      width: 85%;
    }
  }
  @media (max-width: 768px) {
    .wrapper__banner__category__products-content svg {
      width: 140px;
    }
  }
  @media (max-width: 768px) {
    .wrapper__banner__category__products-content svg {
      width: 185px;
      height: 321px;
    }
  }
  .wrapper__banner__category__products-content p {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 700;
    font-size: 64px;
    line-height: 85px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 500px;
    max-height: 168px;
    margin: 0;
    margin-left: 38px;
  }
  @media (max-width: 1050px) {
    .wrapper__banner__category__products-content p {
      font-size: 50px;
      line-height: 70px;
      max-height: unset;
    }
  }
  @media (max-width: 768px) {
    .wrapper__banner__category__products-content p {
      font-size: 30px;
      line-height: 50px;
      max-height: unset;
    }
  }
  @media (max-width: 428px) {
    .wrapper__banner__category__products-content p {
      font-size: 24px;
      line-height: 32px;
      max-height: unset;
      margin-left: 17px;
      max-width: 124.17px;
    }
  }
  .wrapper__banner__category__products-img {
    max-width: 865px;
    max-height: 362px;
    position: absolute;
    right: 0;
    top: 0;
  }
  @media (max-width: 768px) {
    .wrapper__banner__category__products-img {
      max-height: 321px;
      border-radius: 8px;
    }
  }
  .wrapper__banner__category__products-img img {
    height: 362px;
    width: 100%;
    display: block;
    object-fit: cover;
  }
  @media (max-width: 768px) {
    .wrapper__banner__category__products-img img {
      height: 321px;
      border-radius: 8px;
    }
  }
  