.generalNotificationContainer {
    /* display: flex; */
    width: 100%;
    /* height: 100px; */
    /* background: red; */
}
.generalNotificationContent {
    /* display: flex; */
    background: white;
    min-height: 100px;
    border-radius: 8px;
    padding: 24px;
    margin-top: 12px;
}
.btnGroupOutLine {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.btnGroupInLine {
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
}
.readedBtn {
    text-decoration: underline;
    color: blue;
}
.deleteBtn {
    text-decoration: underline;
    color: red;
    margin-left: 12px;
}
.generalNotificationContent .notiContent .contentWrapper {
    width: 100%;
    display: flex;
    /* background: white; */
    padding: 12px 24px;
    justify-content: space-between;
}
.contentDate {
    align-items: center;
    display: flex;
    color: #707070;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto';
    line-height: 18.75px;
    letter-spacing: 0.01em;
}
.contentWrapper .test {
    align-items: baseline;
    /* color: red; */
}
.generalNotificationContent .notiContent .contentWrapper:hover {
    background: #f9f9f9;
}
.contentTextWrapper {
    max-width: 54.78%;
}
.contentTextTitle {
    font-weight: 600;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.04em;
}
.contentTextContent {
    font-weight: 400;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #707070;
}
.contentTextImage {
    margin-top: 12px;
}
