.selectSaleType {
	box-sizing: border-box;
	padding: 0 18px 14px 18px;
	display: flex;
	margin-bottom: 13px;
	background-color: #fff;
	border-bottom: 1px solid #e4e4e4;
}

.selectSaleType .breakLine {
	display: none;
}

.selectSaleType .itemImg {
	max-width: 80px;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-right: 20px;
}

.selectSaleType .itemImg img {
	width: 100%;
}

.selectSaleType .itemsDetail {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.selectSaleType .itemsDetail .itemInformation {
	word-wrap: break-word;
	width: 100%;
}

.selectSaleType .itemsDetail .itemInformation .itemHeaderSale {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 8px;
}

@media (max-width: 450px) {
	.selectSaleType .itemsDetail .itemInformation .itemHeaderSale {
		align-items: flex-start;
	}
}

.selectSaleType .itemsDetail .itemInformation .itemHeaderSale .listTagType {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.selectSaleType .itemsDetail .itemInformation .itemHeaderSale .listTagType .tagType {
	margin-right: 16px;
}

@media (max-width: 450px) {
	.selectSaleType .itemsDetail .itemInformation .itemHeaderSale .listTagType .tagType {
		margin-bottom: 10px;
	}
}

.selectSaleType .itemsDetail .itemInformation .itemHeaderSale i {
	width: 24.5px;
	height: 24.5px;
}

.selectSaleType .itemsDetail .itemInformation .itemHeaderSale i svg {
	width: 24.5px;
	height: 24.5px;
}

.selectSaleType .itemsDetail .itemInformation .itemSalePercent {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 23px;
	text-transform: capitalize;
	color: #282828;
	margin: 0;
}

.selectSaleType .itemsDetail .itemInformation .itemOrder {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.01em;
	color: #707070;
	margin: 0;
	margin-bottom: 8px;
}

.selectSaleType .itemsDetail .itemInformation .itemDateExprie {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}

.selectSaleType .itemsDetail .itemInformation .itemDateExprie .exprieDate {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.01em;
	color: #707070;
	margin: 0;
}

@media (max-width: 450px) {
	.selectSaleType .itemsDetail .itemInformation .itemDateExprie ._button {
		margin-top: 15px;
	}
}

.selectSaleType .itemsDetail .itemInformation .itemDateExprie ._button .btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 4px 8px;
	gap: 8px;
	min-width: 54px;
	height: 26px;
	background: #1e24c0;
	border-radius: 4px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.01em;
	color: #fff;
	box-sizing: border-box;
}

.selectSaleType .itemsDetail .itemInformation .itemDateExprie ._button .btn:hover {
	color: #1e24c0;
	background-color: #fff;
	border: 3px solid #1e24c0;
}

.selectSaleType .itemsDetail .itemInformation .itemDateExprie ._button .btnSelected {
	background: #f6f6f6;
	color: #1e24c0;
	border-color: transparent;
}

.selectSaleType .itemsDetail .itemInformation .itemDateExprie ._button .btnSelected:hover {
	background: #f6f6f6;
	color: #1e24c0;
	border-color: transparent;
}

.selectSaleType .itemsDetail .itemInformation .itemName {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.01em;
	color: #282828;
	margin: 0;
}

@media (max-width: 380px) {
	.selectSaleType .itemImg {
		align-items: flex-start;
	}
}