.account {
  width: 100%;
  padding: 60px 190px;
  box-sizing: border-box;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
}

.account .accountMenu {
  width: 24.026%;
  height: auto;
}

.account .accountContent {
  max-width: 1150px;
  width: 75%;
  height: auto;
  border-radius: 8px;
}