.orderDetail {
    max-width: 1540px;
    /* background: #FAFAFA; */
    padding-bottom: 50px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
.orderDetailTitle {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0.04em;
    color: #282828;
    padding: 80px 0 40px;
}
.orderDetailInput {
    font-weight: 600;
    font-size: 20px;
    background: #f6fff9;
    border: 2px solid #166b29;
    border-radius: 8px;
    padding: 20px 40px;
    margin-bottom: 16px;
}
.orderDetailInput span {
    color: #282828;
}
.orderDetailInput .orderDetailInputText {
    color: #24b065;
}
.orderDetailSingle {
    background: #fff;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 20px 0;
}
.orderDetailSingle .singleContent {
    margin: 0 40px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px 0;
    border-bottom: 1px solid #c4c4c4;
}
.orderDetailSingle .singleTitle {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #282828;
}
.orderDetailSingle .singleNumber {
    font-weight: 600;
    font-size: 24px;
    text-transform: capitalize;
    color: #1e24c0;
}
.orderDetailSingle .singleWatch {
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    color: #818181;
    text-transform: capitalize;
    text-decoration: underline;
}
.orderDetailSingle .singleTime {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #282828;
    background: #fff;
    padding-top: 16px;
}
.orderDetailEvaluate {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
    padding: 20px 0;
    margin-bottom: 50px;
    cursor: pointer;
}
.orderDetailEvaluate .evaluateText {
    font-weight: 400;
    font-size: 16px;
    color: #282828;
    margin-bottom: 23px;
}
.orderDetailEvaluate .evaluateSelect {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 75px;
}
.orderDetailEvaluate .evaluateSelectVote {
    text-align: center;
}
.orderDetailEvaluate .evaluateSelectImg {
    width: 67px;
    height: 67px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.orderDetailEvaluate .evaluateSelectImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.orderDetailEvaluate .evaluateSelectVoteText {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: capitalize;
}
.orderDetailEvaluate .evaluateSelectVote .textSatisfied {
    color: #64c77a;
}
.orderDetailEvaluate .evaluateSelectVote .textUnsatisfied {
    color: #404040;
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
    .orderDetail {
        padding: 0;
    }
}
@media screen and (min-width: 1023.98px) and (max-width: 1440px) {
    .orderDetail {
        padding: 0 20px;
    }
}
@media screen and (max-width: 1023.98px) {
    .orderDetail {
        background-color: #F5F5F5;
        padding: 20px 20px;
    }
}
@media screen and (max-width: 768px) {
    .orderDetailTitle {
        font-size: 40px;
        letter-spacing: 0;
        text-align: left;
        font-weight: 400;
        font-size: 32px;
        line-height: 46px;
        padding: 0 0 15px;
    }
    .orderDetailSingle {
        padding: 20px 40px;
    }
    .orderDetailInput {
        font-size: 16px;
        padding: 20px 40px;
    }
    .orderDetailEvaluate {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 375px) {
    .orderDetailTitle {
        font-size: 25px;
        letter-spacing: 0;
        padding: 30px 0 15px;
    }
    .orderDetailInput {
        font-size: 12px;
        padding: 15px;
        margin-bottom: 10px;
    }
    .orderDetailSingle .singleTime {
        font-size: 12px;
    }
    .orderDetailEvaluate .evaluateText {
        font-size: 12px;
    }
    .orderDetailEvaluate .evaluateSelect {
        gap: 0 40px;
    }
    .orderDetailEvaluate .evaluateSelectVote span {
        font-size: 12px;
    }
    .orderDetailEvaluate .evaluateSelectImg {
        width: 40px;
        height: 40px;
    }
    .orderDetailEvaluate .evaluateSelectImg img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
