.layoutAccountMenu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 16px;
  width: 100%;
}

.layoutAccountMenu .menuItemsName {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #282828;
  margin-bottom: 8px;
}

.layoutAccountMenu .menuItems .subMenu {
  padding-left: 16px;
}

.layoutAccountMenu .menuItems .subMenuItem {
  margin-bottom: 4px;
  cursor: pointer;
}

.layoutAccountMenu .menuItems .subMenuItem a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #707070;
}

.layoutAccountMenu .menuItems .subMenu .active {
  margin-bottom: 4px;
}

.layoutAccountMenu .menuItems .subMenu .active a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #1e24c0;
}