.shipping-address-popup-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .shipping-address-popup-overlay .shipping-address-popup {
    position: relative;
    background-color: #fff;
    max-width: 668px;
    padding: 24px 32px 48px;
    border-radius: 8px;
  }
  .shipping-address-popup-overlay .shipping-address-popup .text-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    font-weight: 600;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #282828;
  }
  .shipping-address-popup-overlay .shipping-address-popup .text-label {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #282828;
  }
  @media (max-width: 450px) {
    .shipping-address-popup-overlay .shipping-address-popup .text-label {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-size: 12px;
      line-height: 14px;
      font-weight: 600;
      letter-spacing: 0.01em;
    }
  }
  .shipping-address-popup-overlay .shipping-address-popup .text-content {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #282828;
  }
  @media (max-width: 450px) {
    .shipping-address-popup-overlay .shipping-address-popup .text-content {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-size: 12px;
      line-height: 14px;
      font-weight: 400;
      letter-spacing: 0.01em;
    }
  }
  .shipping-address-popup-overlay .shipping-address-popup h4 {
    margin-bottom: 29.5px;
  }
  .shipping-address-popup-overlay .shipping-address-popup .address-radio {
    display: flex;
    gap: 24px;
    align-items: flex-start;
    border-bottom: 1px solid #707070;
    padding-bottom: 24px;
    padding-top: 24px;
  }
  .shipping-address-popup-overlay .shipping-address-popup .address-radio:first-child {
    padding-top: 0;
  }
  .shipping-address-popup-overlay .shipping-address-popup .address-radio:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  .shipping-address-popup-overlay .shipping-address-popup .address-radio img {
    cursor: pointer;
  }
  .shipping-address-popup-overlay .shipping-address-popup .address-radio [type=radio]:checked,
  .shipping-address-popup-overlay .shipping-address-popup .address-radio [type=radio]:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  .shipping-address-popup-overlay .shipping-address-popup .address-radio [type=radio]:checked + label,
  .shipping-address-popup-overlay .shipping-address-popup .address-radio [type=radio]:not(:checked) + label {
    position: relative;
    padding-left: 52px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
  }
  .shipping-address-popup-overlay .shipping-address-popup .address-radio [type=radio]:checked + label:before,
  .shipping-address-popup-overlay .shipping-address-popup .address-radio [type=radio]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 27px;
    height: 27px;
    border: 2px solid #C4C4C4;
    border-radius: 100%;
    background: #fff;
    box-sizing: border-box;
  }
  .shipping-address-popup-overlay .shipping-address-popup .address-radio [type=radio]:checked + label:after,
  .shipping-address-popup-overlay .shipping-address-popup .address-radio [type=radio]:not(:checked) + label:after {
    content: "";
    width: 15px;
    height: 15px;
    background: #1E24C0;
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .shipping-address-popup-overlay .shipping-address-popup .address-radio [type=radio]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .shipping-address-popup-overlay .shipping-address-popup .address-radio [type=radio]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .shipping-address-popup-overlay .shipping-address-popup .address-radio_content span {
    display: block;
  }
  .shipping-address-popup-overlay .shipping-address-popup .address-radio_content__name {
    display: flex;
    align-items: flex-start;
    gap: 19px;
    margin-bottom: 12px;
  }
  @media (max-width: 620px) {
    .shipping-address-popup-overlay .shipping-address-popup .address-radio_content__name {
      flex-direction: column;
      gap: 8px;
      margin-bottom: 11px;
    }
  }
  @media (max-width: 450px) {
    .shipping-address-popup-overlay .shipping-address-popup .address-radio_content__name .text-title {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-size: 16px;
      line-height: 18px;
      font-weight: 600;
      letter-spacing: 0.04em;
    }
  }
  .shipping-address-popup-overlay .shipping-address-popup .address-radio_content__name .btn {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .shipping-address-popup-overlay .shipping-address-popup .address-radio_content__name .btn button {
    box-sizing: border-box;
    background-color: white;
    border: none;
    outline: none;
    padding: 3px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.2s ease;
    -webkit-user-select: none;
    user-select: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    border: 1px solid #1E24C0;
    letter-spacing: 0.01em;
    color: #1E24C0;
  }
  @media (max-width: 450px) {
    .shipping-address-popup-overlay .shipping-address-popup .address-radio_content__name .btn {
      gap: 4px;
    }
  }
  .shipping-address-popup-overlay .shipping-address-popup .address-radio_content .text-label, .shipping-address-popup-overlay .shipping-address-popup .address-radio_content .text-content:not(:last-child) {
    margin-bottom: 8px;
  }
  .shipping-address-popup-overlay .shipping-address-popup .add-address {
    margin: 40px 0;
    display: block;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #1E24C0;
    cursor: pointer;
  }
  .shipping-address-popup-overlay .shipping-address-popup .lst-btn {
    display: flex;
    gap: 20px;
  }
  .shipping-address-popup-overlay .shipping-address-popup .lst-btn ._button {
    width: 100%;
  }
  .shipping-address-popup-overlay .shipping-address-popup .lst-btn ._button .btn {
    min-width: initial;
    width: 100%;
  }
  @media (max-width: 768px) {
    .shipping-address-popup-overlay .shipping-address-popup {
      max-width: initial;
      width: 80%;
    }
  }
  @media (max-width: 450px) {
    .shipping-address-popup-overlay .shipping-address-popup {
      padding: 29.5px 32px 24px;
    }
  }
  .shipping-address-popup-overlay img[alt=close] {
    position: absolute;
    top: 28px;
    right: 35.63px;
    cursor: pointer;
  }
  
  /*# sourceMappingURL=style.css.map */
  