.shipping-address-popup-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .shipping-address-popup-overlay .shipping-address-popup {
    position: relative;
    background-color: #fff;
    max-width: 668px;
    padding: 24px 32px 48px;
    border-radius: 8px;
  }
  .shipping-address-popup-overlay .shipping-address-popup .text-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    font-weight: 600;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #282828;
  }
  .shipping-address-popup-overlay .shipping-address-popup .text-label {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #282828;
  }
  @media (max-width: 450px) {
    .shipping-address-popup-overlay .shipping-address-popup .text-label {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-size: 12px;
      line-height: 14px;
      font-weight: 600;
      letter-spacing: 0.01em;
    }
  }
  .shipping-address-popup-overlay .shipping-address-popup .text-content {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #282828;
  }
  @media (max-width: 450px) {
    .shipping-address-popup-overlay .shipping-address-popup .text-content {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-size: 12px;
      line-height: 14px;
      font-weight: 400;
      letter-spacing: 0.01em;
    }
  }
  .shipping-address-popup-overlay .shipping-address-popup h4 {
    margin-bottom: 29.5px;
  }
  
  .shipping-address-popup-overlay .shipping-address-popup .add-address {
    margin: 40px 0;
    display: block;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #1E24C0;
    cursor: pointer;
  }
  .shipping-address-popup-overlay .shipping-address-popup .lst-btn {
    display: flex;
    gap: 20px;
  }
  .shipping-address-popup-overlay .shipping-address-popup .lst-btn ._button {
    width: 100%;
  }
  .shipping-address-popup-overlay .shipping-address-popup .lst-btn ._button .btn {
    min-width: initial;
    width: 100%;
  }
  @media (max-width: 768px) {
    .shipping-address-popup-overlay .shipping-address-popup {
      max-width: initial;
      width: 80%;
    }
  }
  @media (max-width: 450px) {
    .shipping-address-popup-overlay .shipping-address-popup {
      padding: 29.5px 32px 24px;
    }
  }
  .shipping-address-popup-overlay img[alt=close] {
    position: absolute;
    top: 28px;
    right: 35.63px;
    cursor: pointer;
  }
  
  /*# sourceMappingURL=style.css.map */
  